html {
    background: url("../images/bg002.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: 'Lato', sans-serif;
}

header, main {
    margin: auto;
    width: 50%;
}

header {
    text-align: center;
    color:rgba(255, 255, 255, 0.596);
}

section {
    margin: 10px 10px;
    color: rgb(0, 0, 0);
    background-color: rgba(255,255,255,0.38);
    width: 100%;
    overflow-x: hidden;
    border-radius: 25px;
    padding: 10px;
}

article {
    margin: 10px 10px;
}

span {
    margin: 5px;
}

div {
    margin: 5px;
}

#error_message {
    color: rgb(199, 18, 18);
    font-size: 0.8em;
    margin: 0px 10px 10px;
    background-color: rgba(236, 236, 16, 0.507); 
}

.button {
    background-color: rgba(106, 190, 113, 0.568);
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    margin: 0;
    cursor: pointer;
    border-radius: 10px;
}

footer {
    position: fixed; 
    bottom: 20px;
    left: 20px; 
}