h1, #clock {
  font-size : 3em;
  color: rgb(255, 255, 255);
  text-align: center; 
}

#clock {
  margin: auto;
  margin-bottom: 0px;
  margin-top: 10%;
  font-size: 5em; 
   
}

h1 {
  margin-top: 0px; 
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #888;
}

h3 {
  margin: auto;
  font-weight: 300;
  font-family: 'Droid Serif', serif;
}

i {
  margin-top: 7px;
  margin: auto;
  font-weight: 100i;
  font-family: 'Droid Serif', serif;
}

a {
  color: rgba(21, 131, 40, 0.63);
}

#outer-wrapper {
  margin: auto;
  padding: 15px;
  width: 95vw;
  height: 93vh;
  overflow: hidden;
  text-align: center;
  font-family: 'Lato', sans-serif; 
}

#inner-wrapper {
  margin: auto;
  position: fixed;
  bottom: 40px;
  left:20%;
  right: 20%;
  padding: inherit;
  width: 60%;
  text-align: center;
   
}

#timezone_wrapper {
  margin: auto;
  margin-bottom: 5px;
  padding: 7px;
  width: 90%;
  background-color: rgba(182, 213, 248, 0.308);
  border-radius: 10px;
   color:rgba(255, 255, 255, 0.753);
  font-size: 0.84em;
  line-height: 1em;
}

.time_zone {
  margin-right: 20px;
}

#quote-wrapper {
  margin: auto;
  margin-bottom: 5px; 
  padding: 5px;
  min-height: 80px;
  max-width: 90%;
  background-color: rgba(225, 225, 226, 0.308);
  border-radius: 20px;
  animation-name: expanding;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-iteration-count: 1;
}

#quote {
  font-size: 1em;
  color: rgb(255, 255, 255);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 1.3em;
  display: inline-block;
  padding: 7px;
  width: 450px;
  }

#utility_wrapper {
  margin: 0 auto;
  width: 90%;
  min-height: 70px;
}

#weather-box {
  margin: 0 auto;
  background-color: rgba(182, 213, 248, 0.308);
  border-radius: 10px;
   
}

#current{
  color: #fff;
  line-height: 1.5em;
  padding-top: 1vh;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1vh;
  font-size: 0.85em;
}

#background-box {
  margin: auto;
  min-width: 150px; 
  width: 30%;
}

.button {
  background-color: rgba(106, 190, 113, 0.568);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  margin: 0;
  cursor: pointer;
  border-radius: 25px;
}

#library {
  background-color: rgba(182, 213, 248, 0.308);
  border-radius: 10px;
  min-width: 150px; 
  width: 30%;
  margin: auto; 
}

#dosomething {
  color: #fff;
  padding-top: 1vh;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 1vh;
  font-size: 1em;
  line-height: 2.4em;
}

#library.utility, #background-box.utility, #weather-box.utility {
  float: left;
  max-height: 70px;
  width: 30%;
  min-width: 150px;
  margin: auto;
}

#library.utility {
  float: right;
}

#background-box.utility {
  margin-left: 5%;
}

.sidenav {
  margin: auto;
  width: 30%;
  height: 0;
  position: absolute;
  z-index: 2;
  bottom: 100px;
  left: 66%;
  background: rgba(255, 255, 255, 0.705); /* For browsers that do not support gradients*/
  background: linear-gradient(to top, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.705));
  overflow-y: hidden;
  transition: 0.5s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sidenav a {
  padding: 1px;
  text-decoration: none;
  color: #000000;
  display: block;
  transition: 0.3s;
  font-size: 0.78em;
}

.sidenav a:hover {
  color: #3d3a3a;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 6px 4px 6px 20px;
  list-style-type: none;
  /* background: rgba(255, 255, 255, 0.589); */
  font-size: 16px;
  color: #000;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  /* background: #f9f9f9; */
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 8px 6px 8px;
}

.close:hover {
  background-color: #ee5e53;
  color: white;
}

/* Style the header */
.header {
  background-color: #ffffffa8;
  padding: 10% 10%;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
#myInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 60%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 0;
  width: 25%;
  background: #6edd86a8;
  color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}


#footer {
  margin: auto 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0; 
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.329);
}

.footer_link {
  display: inline-block;
  color: rgba(255, 255, 255, 0.63);
  margin-right: 10px;
  text-decoration: none;
}

@keyframes expanding{
  from {
    max-width: 70%;
  }
  to {
    max-width: 90%;
  }
}

@media (max-width: 870px){
  #quote {
    width: 270px;
  }
}

@media (max-width: 767px){
  #quote {
    width: 180px;
    font-size: 0.7em;
  }
  h1 {
    font-size : 2em;
  }
  #clock {
    font-size: 4em;
  }
  #current {
    font-size: 0.7em;
  }
}

